{% extends 'empanadas/base.html' %}

{% block title %} détail d'une empanada {% endblock %}

{% block main %}
<h2>{{ empanada }}</h2>
   <div class="table-container">
      <table class="table table-striped">
          <thead>
                <tr>
                    <th scope="col">Ingrédient</th>
                    <th scope="col">Quantité</th>
                </tr>
           </thead>
           <tbody>
                {% for ing in ingredients_list %}
                <tr>
                    <td>{{ing.Ingredient}}</td>
                    <td>{{ing.Quantite}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


