{% extends 'empanadas/base.html' %}

{% block title %} les ingrédients {% endblock %}

{% block main %}
<h2>Voici nos {{ingredients|length}} ingédients</h2>
<ul>
        {% for ing in ingredients %}
        <li>{{ing}}                
		| <a href="{% url 'afficherFormIngredient' ing.idIngredient %}">
			<i class="bi bi-pencil-square"></i>
		  </a>
                | <a href="{% url 'supprimerIngredient' ing.idIngredient %}">
			<i class="bi bi-trash"></i>
		  </a>
	</li>
        {% endfor %}
</ul>
{% endblock %}
