{% extends 'empanadas/base.html' %}
{% load static %}

{% block title %} les ingrédients {% endblock %}

{% block main %}
  <h2 class="h2-ing">Voici nos {{ ingredients|length }} ingrédients</h2>

  <table class="table-ing">
    <thead>
      <tr>
        <th>Ingrédients</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      {% for ing in ingredients %}
      <tr>
        <td>{{ ing }}</td>
        <td>
          <a href="{% url 'afficherFormIngredient' ing.idIngredient %}">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
        <td>
          <a href="{% url 'supprimerIngredient' ing.idIngredient %}">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
